* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-style: normal;
}


:root {
    font-size: 62.5%;

    --Very-Dark-Gray: #2b2b2b;
    --Dark-Gray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Rubik', sans-serif;
    /* font-size: 1.8rem;  */

    background: linear-gradient(45deg, #443e99, #6186f2) no-repeat;

    min-height: 100vh;

    position: relative;
}

#map{
    height: 70vh;
    width: 100%; 
    margin: 0 auto;
}

header{
    padding-top: 1rem;
    height: 30vh;
}

.infos-div{
    position: absolute;
    z-index: 999;
    top: 19%;
    left: 50%;
    transform: translateX(-50%);

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



h1 {
    color: #fff;
    font-weight: 500;
    font-size: 2.3;
    text-align: center;

    margin-bottom: 1.5rem;
}



form {
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

input {
    color: var(--Very-Dark-Gray);
    font-size: 1.6rem;
    line-height: 2rem;
    outline: none;

    border: none;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;

    padding: .8rem;
    min-width: 23rem;
    width: 50vw;
    max-width: 35rem;
}


button {
    width: 3.8rem;
    height: 3.8rem;

    border: none;

    background-color: #000;

    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;

    position: relative;

}

button::before {
    content: '';

    position: absolute;
    top: 50%;
    right: 50%;

    background-color: #fff;

    transform: translate(50%, -50%);

    width: 1.4rem;
    height: 1.4rem;

    transform-origin: bottom left;
    clip-path: polygon(53% 0, 75% 50%, 53% 100%, 33% 100%, 55% 50%, 33% 0);
}

button:hover{
    cursor: pointer;
}


.infos-div {
    background-color: #FFF;

    border-radius: .5rem;

    width: 28rem;
    max-width: 90%;
    margin-inline: auto;

}

.infos-block {
    text-align: center;
    padding: .5rem;
}

.info-title {
    margin-bottom: .5rem;

    font-size: 1.3rem;
    color: var(--Dark-Gray);
}

.api-result {
    color: var(--Very-Dark-Gray);
    font-weight: 400;
    font-size: 1.6rem;
}

#ip{
    word-break: break-all;
}

img.leaflet-marker-icon{
    filter: hue-rotate(150deg) saturate(540%); 
}

div.leaflet-popup-content{
    font-size: 1.2rem;
}





/*===============RESPONSIVE - DESKTOP=================*/

@media (min-width: 600px) {

    #map{
        height: 80vh;
    }

    header{
        height: 25vh;
    }

    h1 {
        font-size: 3rem;
        font-weight: 400;
        word-spacing: 2px;
        margin-bottom: 1.8rem;
    }

    input {
        padding: 1.5rem 2rem;
        font-size: 1.8rem;
    }

    button{
        width: 5rem;
        height: 5rem;
    }

    .infos-div {
        top: 19%;

        display: flex;
        justify-content: space-between;

        padding: 2rem;
        width: 90rem;
        max-width: 90%;
    }

    .infos-block {
        text-align: start;

        padding-inline: 2rem 1rem;
        padding-block: .5rem;
        width: 22rem;

        position: relative;

    }

    .infos-block:not(.infos-div li:first-child)::after {
        content: '';
        position: absolute;
        top: 0%;
        left: 0;

        width: 2px;
        height: 100%;
        background-color: var(--Dark-Gray);
    }

    .info-title {
        margin-bottom: 0;

        text-align: start;
        font-weight: 500;
        font-size: 1.3rem;
    }

    .api-result {
        font-size: 1.8rem;
        font-weight: 700;
    }
}


@media (min-width: 1000px) {
    

    #map{
        height: 75vh;
    }

}
